<div class="container">
      @for (job of jobs; track job) {
    <mat-list-item class="list-item">
      <img [src]="job.companyLogo" matListItemIcon alt="" srcset="" width="80" height="80"/>
      <div matListItemTitle class="title">{{job.title}}</div>
      <div matListItemLine class="description">
        <span>Company: {{job.companyName}}</span>
        <span>Reference: {{job.reference}}</span>   
      </div>
        <a href="http://">
            <mat-icon>star</mat-icon>
        </a>
    </mat-list-item>
  }
</div>