.job-detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    gap: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}
